[Unit]
Description=Generate git-keeper MOTD
After=network.target
ConditionPathExists=/etc/git-keeper.conf

[Service]
Type=oneshot
ExecStart=git-keeper motd
