[Unit]
Description=Generate git-keeper MOTD
Documentation=man:git-keeper(1)
After=network.target
ConditionPathExists=/etc/git-keeper.conf

[Service]
Type=oneshot
ExecStart=git-keeper motd
